<app-menu></app-menu>

<div class="container padding20">
    <div class="income_area">
        <div class="label_title">
            ข้อความโปรโมทและลิงค์
        </div>
    </div>
    <div class="content_area_income" style="background-color: #E7E077;">
        <div class="row margin0">
            <div class="col-sm area_stat" style="padding-top: 20px;border:0px !important;">
                <img class="rubsub_img" src="/assets/images/content/rubsub.jpg" alt="">
                <div class="input_area">
                    <input placeholder="ข้อความโปรโมท" type="text" name="" class="form-control" id="">
                </div>
                <div class="social_icon">
                    <a href='https://www.facebook.com/sharer.php?u=https://f1ball.net/affiliates/register/{{member_code}}' target='_blank'>
                        <span><i class="fab fa-facebook-square"></i></span>
                    </a>
                    <a href='https://plus.google.com/share?url=https://f1ball.net/affiliates/register/{{member_code}}' target='_blank'>
                        <span><i class="fab fa-google-plus-square"></i></span>
                    </a>
                    <a href='https://twitter.com/share?url=https://f1ball.net/affiliates/register/{{member_code}}' target='_blank'>
                        <span><i class="fab fa-twitter-square"></i></span>
                    </a>

                </div>
            </div>

        </div>
    </div>


</div>