<div class="content_">
    <div class="container content_area_set">
        <div _ngcontent-oex-c6="" class="dataContentBot">
            <div class="row">
                <div class="detailLeft">
                    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                        <div ngxSlickItem *ngFor="let slide of imageUrls" class="slide">
                            <img src="{{ slide.img }}" alt="" width="100%">
                        </div>
                    </ngx-slick-carousel>
                </div>
                <div class="detailRight">
                    <div class="login_area">
                        <div class="login_text">
                            LOGIN <img class="icon_logo_login" src="/assets/images/logo/logo.png?v=1.1" alt="">
                            <form _ngcontent-ftw-c0="" action="https://ufabet5499.com/api/loginUfabet.php" class="centered-form ng-pristine ng-invalid ng-touched" data-toggle="validator" id="form1" method="post">
                                <div class="form_input">
                                    <input type="text" name="username" id="username" style="text-align:center" placeholder="ชื่อผู้ใช้" class="form-control input_login">
                                    <input type="password" name="password" id="password" style="text-align:center" placeholder="รหัสผ่าน" class="form-control input_login">
                                    <input type="hidden" name="ac" style="text-align:center" value="loginUfabet" class="form-control input_login">
                                    <input id="ac" name="ac" type="hidden" value="loginUfabet">
                                    <a _ngcontent-ftw-c0="" class="btn-submit width-btn" href="javascript:doPostBackBetufa('btnSignIn','')" id="btnSignIn" style="text-transform: uppercase;" tabindex="5">
                                        <img class="image_login" src="/assets/images/icon/login-icon.png" alt="">
                                    </a>
                                    <img [routerLink]="['/page/register']" routerLinkActive="router-link-active" class="image_register" src="/assets/images/icon/register-icon.png" alt="">
                                    <img [routerLink]="['/page/deposit']" routerLinkActive="router-link-active" class="image_deposit" src="/assets/images/icon/moneytransfer-icon.png" alt="">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
<div class="container">
    <div class="row service_area" style="padding-top:10px;padding-bottom:10px;">
        <div class="col-sm">
            <img style="width:100%" src="/assets/images/content/sport.jpg" alt="">
        </div>
        <div class="col-sm">
            <img style="width:100%" src="/assets/images/content/casino.jpg" alt="">
        </div>
        <div class="col-sm">
            <img style="width:100%" src="/assets/images/content/muaythai.jpg" alt="">
        </div>
    </div>
</div>
<div class="content_">
    <div class="container" style="padding-top: 20px;">
        <div class="detailLeft_content">
            <img src="/assets/images/content/register-step.jpg" alt="">
            <img src="/assets/images/content/banking.jpg" alt="">
        </div>
        <div class="detailRight_content">
            <img src="/assets/images/content/transfer.jpg" alt="">
        </div>
        <div style="width: 100%;padding:10px;">&nbsp;</div>
        <div class="detailLeft_content">
            <div class="areaInfo">
                <img src="/assets/images/logo/logo.png?v=1.1" style="display: block;
                margin-left: auto;
                margin-right: auto;
                width: 40%;" alt="">
                <div class="titleContent">
                    เว็บ<span style="color: #19E304;">คาสิโนออนไลน์</span>อันดับ 1 ของประเทศไทย
                </div>
                <div class="desContent">
                    เราคือเว็บไซต์บริการ <span style="color: #19E304;">คาสิโนออนไลน์</span> ยอดนิยมที่สุด ในเมืองไทย มั่นใจใน<span style="color: yellow;">มาตรฐาน</span>เป็นที่เชื่อถือมาตลอด เรามีเกมบริการหลากหลายทั้ง <br> <span style="color: #19E304;">บาคาร่าออนไลน์</span>รูเลท
                    ไฮโลว์ และเกมการ เดิมพันอื่นๆ อีกมากมาย ครบถ้วนทุกความสนุกในที่เดียว สนุกกับทุกการเดิมพัน <br> ตลอด 24 ชั่วโมง จาก<span style="color: #19E304;">คาสิโนออนไลน์</span>ชั้นนำ ร่วมสนุกได้ง่าย เพียงแค่โทรหาเรา และรับโปรโมชั่นฟรีมากมาย ยินดีต้อนรับสมาชิกทุกคนที่
                    <br>สนใจเล่น คาสิโน บาคาร่า บริการ ประทับใจ โอนเงินสด 100% รวดเร็วทันใจค่ำ GClub หนึ่งในบริการ ออนไลน์ของ ปอยเปต คาสิโน รีสอร์ท
                </div>
            </div>
        </div>
        <div class="detailRight_content">
            <div class="detailRight_content">
                <img src="/assets/images/content/lotto.jpg?v=1.1" alt="">
            </div>
        </div>
        <div style="width: 100%;padding:10px;">&nbsp;</div>
    </div>

</div>


<!-- <div _ngcontent-gyx-c3="" attr="http://line.me/ti/p/~@megarich88" class="qr-popup"><i _ngcontent-gyx-c3="" aria-hidden="true" class="fa fa-window-close fa-6 close-qr"></i></div> -->