<app-menu></app-menu>

<div class="container padding20">
    <div class="income_area">
        <div class="label_title">
            สมาชิก
        </div>
        <div class="content_area_income">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">วันที่สมัคร</th>
                        <th scope="col">ยูสเซอร์เนม</th>
                        <th scope="col">ยอดได้</th>
                        <th scope="col">ยอดเสีย</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>