<app-menu></app-menu>
<div class="container padding20">
    <div class="income_area padding20">
        <div class="label_title">
            รายได้ผู้แนะนำ
        </div>
        <div class="content_area_income">
            <div class="row margin0">
                <div class="col-sm area_stat">
                    <div class="text_stat">
                        คลิกลิงค์
                    </div>
                    <div class="text_stat">
                        {{click_count}}
                    </div>
                </div>
                <div class="col-sm area_stat">
                    <div class="text_stat">
                        สมัคร
                    </div>
                    <div class="text_stat">
                        8
                    </div>
                </div>
                <div class="col-sm area_stat">
                    <div class="text_stat">
                        เล่นต่อเนื่อง
                    </div>
                    <div class="text_stat">
                        8
                    </div>
                </div>
            </div>
        </div>
        <div class="content_area_income">
            <div class="row margin0">
                <div class="col-sm area_stat">
                    <div class="text_stat">
                        รายได้สะสม
                    </div>
                    <div class="text_stat">
                        1,500.00
                    </div>
                </div>
                <div class="col-sm area_stat">
                    <div class="text_stat">
                        รายได้ที่ถอนได้
                    </div>
                    <div class="text_stat text_green">
                        1,500.00
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>