<app-menu></app-menu>
<div class="container padding20">
    <div class="income_area padding20">
        <div class="label_title">
            รายได้ผู้แนะนำ
        </div>
        <div class="content_area_income">
            <div class="row margin0">
                <div class="col-sm area_stat">
                    <div class="text_stat">
                        คลิกลิงค์
                    </div>
                    <div class="text_stat">
                        {{click_count}}
                    </div>
                </div>
                <div class="col-sm area_stat">
                    <div class="text_stat">
                        สมัคร
                    </div>
                    <div class="text_stat">
                        {{number_register}}
                    </div>
                </div>
                <div class="col-sm area_stat">
                    <div class="text_stat">
                        เล่นต่อเนื่อง
                    </div>
                    <div class="text_stat">
                        {{number_active}}
                    </div>
                </div>
            </div>
        </div>
        <div class="content_area_income">
            <div class="row margin0">
                <div class="col-sm area_stat">
                    <div class="text_stat">
                        รายได้สะสม
                    </div>
                    <div class="text_stat">
                        {{amount_all_income}}
                    </div>
                </div>
                <div class="col-sm area_stat">
                    <div class="text_stat">
                        รายได้ที่ถอนได้
                    </div>
                    <div class="text_stat text_green">
                        {{amount_withdraw}}
                    </div>
                </div>
            </div>
        </div>


        <div class="content_area_income" style="padding:20px;">
            <div style="font-size: 2em; color: #000; font-weight: bold;">วิธีสร้างรายได้</div>
            <div style="text-align: left;">สร้างรายได้ง่ายๆเพียง ก็อป แล้ว โพสต์ ยิ่งโพสต์มากยิ่งได้มาก</div>
            <div style="text-align: left;">สร้างรายได้หลักแสนด้วยระบบแนะนำสมาชิก(AF) แค่ก็อปข้อความแล้วส่งต่อให้เพื่อน หรือนำไปโพสต์ในสื่อโซเชียลมีเดียต่างๆ เช่น Facebook และอื่นๆที่ท่านรู้จัก</div>
            <div style="text-align: left;">เมื่อลิงค์ที่ท่านนำไปโพสมีคนกดสมัครสมาชิกเข้ามาจะเป็นลูกค้าของท่านโดยทันที ซึ่งท่านจะได้รับรายได้ดังนี้</div>
            <br>
            <br>
            <div style="text-align: left;"> ตัวอย่างเช่น... </div>
            <br>
            <div style="text-align: left;">ลูกค้าท่านเดิมพันกีฬาออนไลน์ ท่านจะได้รับคอมมิชชั่น 1.00% </div>
            <div style="text-align: left;"> ลูกค้าท่าน 1 คน มียอด Turn over 10,000 บาท ท่านจะได้รับ 100 บาท </div>
            <div style="text-align: left;"> ลูกค้าท่าน 10 คน มียอด Turn over 10,000 บาท ท่านจะได้รับ 1000 บาท ลูกค้าท่าน </div>
            <div style="text-align: left;">100 คน มียอด Turn over 10,000 บาท ท่านจะได้รับ 10000 บาท</div>
            <div style="text-align: left;"> สามารถทำรายได้เพิ่มเติมจากการชวนเพื่อนมาใช้บริการของเรา และรายได้ของท่านสามารถตรวจสอบได้ทุกขั้นตอนแจกจริง จ่ายเร็วเพียงก๊อปปี้ลิงค์ นำไปแชร์ได้เลย</div>
            <br>
            <div style="text-align: left;">หมายเหตุ: รายได้การช่วยแชร์ช่วยแนะนำของท่านสามารถแจ้งถอนได้ทุกเวลา หากมียอดรายได้มากกว่า 100 บาทขึ้นไป</div>
        </div>



    </div>



</div>