<app-menu></app-menu>

<div class="container padding20">
    <div class="income_area">
        <div class="label_title">
            ถอนรายได้
        </div>
    </div>
    <div class="content_area_income" style="padding-bottom: 20px;">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">รายได้ที่ถอนได้</th>
                    <th scope="col">1,200.00</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">ต้องการถอน</th>
                    <td>
                        <input type="text" placeholder="จำนวนที่ต้องการถอน" name="" class="form-control" id="">
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="btn btn-success">ถอน</div>
    </div>
</div>